body{
    font-family: system-ui, sans-serif;
    /* line-height: 1.6; */
    color: #111;
    /* padding: 20px; */
    /* background-size: cover; */
    /* background-position: center; */
    /* position: relative; */
    /* z-index: auto; */
    margin: 15px 30px;
    background: #ffffff;

}

.top__header--menu a  {
    color: rgb(0, 180, 42);    
    padding: 5px;
    font-weight: 500px;
    letter-spacing: 0.2px;
    text-decoration: none;
    display: block;
    position:fixed;
    top: 20px;
    right: 10%;
    z-index: 1000;
    box-shadow: 5px 5px 5px #141414;
}

.top__header--menu {
    margin: 40px 0;    
}

.top__menu{
   list-style:none; 
}

h3 {
    margin-bottom: 2rem;
}

p{
    font-size: 22px;
}

.container {
    max-width: 100%; 
    text-align: center;  
}

.container__left{
    float:left;
    padding-right: 10px;
}

.container__left__img{
    width: auto;
    height: 200px;
}
.container__right{
    float:right;
    padding-left: 10px;     
}

.container__right__img{
    width: 330px;
    height: 200px;
    
}

.section-red {
    background-color: #ffffff;
    color: #141414;
    padding: 15px;
}

.section-white {
    background-color: #ffffff;
   
}
.white_first {
    background-color: #fffefe;
    color:#080808
}

.section-divider {
    position: relative;
    height: 54px;
    overflow: hidden;
}

.section-divider::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom,
            #f9f9f9 0px,
            #ffffff 18px,
            #2d37f0 18px,
            #0217fd 36px,
            #ff0404 36px,
            #ff0000 54px);
}

.section-divider__first{
    position: relative;
    height: 54px;
    overflow: hidden;
    width: 100%;
}

.section-divider__first::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom,
            #f9f9f9 0px,
            #ffffff 18px,
            #2d37f0 18px,
            #0217fd 36px,
            #ff0404 36px,
            #ff0000 54px);
}

@media(max-width:410px){
    .container__right{
      float:left;
      padding-right: 10px;
    }
    .container__right__img{
        width: 100%;
    }
    p{
        margin: 15px;
    }
}
@media(min-width:411px){
    .container__right{
      padding-right: 10px;
    }
    .container__right__img{
        width: 100%;
    }
    p{
        margin: 15px;
    }
}
